/*set the body to fit entire viewport and font style for page*/
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
}

/*background color for header, sets to scroll with page*/
header, #headerwidth {
    color: white;
    background-color: #4aaaa5;
    position: static;
}

/*class styling, nonvisible*/
.full-width {
    margin: 0, auto;
    padding: 10px;
}

/*font and background color, sticky footer with centered text*/
footer {
    color: white;
    background-color: #4aaaa5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

/*ancestor used for positioning*/
.mycontainer {
    position: absolute;
    top: 5rem;
    bottom: 5rem;
    left: 5rem;
    margin: 0, auto;
    height: 100vh;
}

/*image containers for positioning*/
#imagediv {
    position: relative;
    display: block;
    float: left;
}


h4 {
    position: absolute; /*sets position for project titles, uses jpg for nearest positioned ancestor*/
    bottom: 20px; /*spacer on bottom of jpg*/
    width: 320px; /*sets width of title to match jpg*/
    background-color: #4aaaa5; /*sets background color for title*/
    text-align: center; /*aligns title text to center*/
    opacity: .5; /*creates opacity of title so entire picture can be viewed. I love my dog.*/
}

/*clearfix, check with Tom before class*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }